.photo-grid {
    /* задавать максимальную ширину не нужно, потому что его родитель page__container задает ее 
    а photo-grid  тянется по его ширине +++
    */
    padding-left: 16px;
    padding-right: 16px;
    display: grid;
    grid-gap: 12px;
}

.photo-grid__image {
    /* background-size только для тегов кроме img у которых ты задаешь bg-image */
    /* для тега img аналог свойства - object-fit +++ туплю как не в себе */
    object-fit: cover;
    width: 100%;
    max-height: 216px;

    /* У тебя сейчас pixel-perfect не ругается на размер картинок в сетке, потому что картинки в фигмы вырезаны таким образом
    что 288 x 216 . Но если у тебя есть какая-нибудь форма добавления картинок динамически и юзер может указать любую
    картинку любого размера, то сетку рапидорасит. Потому нужено указать ограничение по высоте картинке и object-fit
    не даст ей перекосить пропорцию +++
    */
}


/* вместо всех значений grid-template-columns ниже можно прописать
repeat(auto-fill, minmax(288px, 1fr))
*/
@media screen and (min-width:768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 2fr);
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (min-width:1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 3fr);
        padding: 0;
    }
}

@media screen and (min-width:1280px) {
    .photo-grid {
        grid-template-columns: repeat(4, 4fr);
        /* падинг не нужно снова перекрывать +++*/
        /* padding: 0; */
    }
}