.geo-article {
  display: grid;
  grid-template-areas:
    "title"
    "image"
    "text";
  grid-template-columns: 1fr;
  grid-row-gap: 38px;
  /* по фигме не 38px, но ровнее стало с 38 */
}

.geo-article__title {
  grid-area: title;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  padding: 0;
  align-self: end;
  margin-left: 16px;
  margin-right: 16px;
}

.geo-article__link {
  grid-area: link;
  display: none;
  align-self: end;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  position: relative;
  color: #ffffff;
}

.geo-article__link:hover {
  opacity: 0.8;
}

.geo-article__image {
  grid-area: image;
  min-height: 320px;
  width: 100%;
  object-fit: cover;
}

.geo-article__text-container {
  grid-area: text;
  font-size: 16px;
  line-height: 26px;
  padding: 0;
  margin-left: 16px;
  margin-right: 16px;
}

.geo-article__text {
  margin: 0;
  margin-bottom: 24px;
}

.geo-article__text_last {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .geo-article {
    grid-template-areas:
      "title link"
      "image text";
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px 28px;
  }

  .geo-article__text-container {
    margin-left: 0px;
    margin-right: 24px;
  }

  .geo-article__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 320px; /* сделала, чтобы заголовок переносился и стал в 2 строки */
    margin-left: 24px;
    margin-right: 24px;
  }

  .geo-article__title_small {
    min-width: 340px;
    /* чтобы был в одну строчку */
  }
  .geo-article__image {
    max-height: 340px;
    max-width: 340px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .geo-article__link {
    display: block;
  }

  .geo-article__link:before {
    content: "URL";
    position: absolute;
    bottom: 34px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #aaaaaa;
  }
}

@media screen and (min-width: 1024px) {
  .geo-article {
    grid-gap: 24px 4px;
  }
  .geo-article__title {
    font-size: 72px;
    line-height: 76px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .geo-article__image {
    max-height: 440px;
    max-width: 440px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .geo-article__text-container {
    font-size: 18px;
    line-height: 29px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .geo-article {
    grid-gap: 32px 24px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .geo-article__title {
    margin-left: 0px;
    margin-right: 0px;
  }

  .geo-article__image {
    max-height: 460px;
    max-width: 460px;
  }
}
