.geo-article {
    padding-bottom: 48px;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    ;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'title' 'link''image' 'text';
    grid-gap: 40px; */
}

.geo-article_last {
    padding-bottom: 0px;
}

.geo-article__title {
    grid-area: title;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin: 0;
   margin-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.geo-article__link {
    grid-area: link;
    display: none;
}

.geo-article__link:hover {
    opacity: 0.8;
}

.geo-article__image {
    grid-area: image;
    margin-bottom: 32px;
    min-height: 320px;
    width: 100%;
    object-fit: cover;
}

.geo-article__text {
    grid-area: text;
    font-size: 16px;
    margin: 0;
    line-height: 163%;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 24px;
}
 
.geo-article__text_last {
    margin-bottom: 0px;
}

@media screen and (min-width:768px) {
    .geo-article__title {
        font-size: 42px;
        line-height: 46px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .geo-article {
        padding-bottom: 72px;
    }
    .geo-article__image {
        padding-left: 24px;
        padding-right: 24px;
    }
    .geo-article__text {
        padding-left: 24px;
        padding-right: 24px;
    }

    .geo-article__link {
        display: block;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        color: #FFFFFF;
        position: relative;
    }
}

@media screen and (min-width:1024px) {
    .geo-article__title {
        font-size: 72px;
        line-height: 76px;
        padding-left: 48px;
        padding-right: 48px;
    }
  
    .geo-article__link:before {
        content: "URL";
        position: absolute;
        bottom: 34px;
        font-size: 12px;
        line-height: 170%;
        letter-spacing: 0.2em;
        color: #AAAAAA;
    }
    .geo-article {
        padding-bottom: 80px;
    }
    .geo-article__image {
        padding-left: 48px;
        padding-right: 48px;
    }
    .geo-article__text {
        padding-left: 48px;
        padding-right: 48px;
    }
}