/* Футер на 768 и выше не совпадает в пиксель перфекте из-за того, что гриды в гео-артикле отже съезжают, я пыталась починить6 но не получается */

.footer {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 32px;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
}

.footer__item {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  padding: 16px;
}

.footer__copywright {
  font-size: 14px;
  line-height: 14px;
  padding: 0px 16px 24px 16px;
}

@media screen and (min-width: 768px) {
  .footer__item {
    /* у footer__item  на  768px отступы не те и footer__copywright  тоже едет выше и правее +++ ПОЧИНИЛА */
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 10px;
  }
  .footer__navigation {
    flex-direction: row;
    margin-bottom: 0;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 88px;
    max-height: 50px;
  }
  .footer__copywright {
    font-size: 14px;
    line-height: 50px;
    /* сделала 50, но почему-то если в разные случаи открывать сайт в браузере, это то чинит вертску, то ломает (сложила два паддинга по 16 от item плюс фонт сайз 18 */
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding-top: 94px;
    max-width: 960px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding: 92px 0px 0px 0px;
    max-width: 1216px;
    /* есть несколько способов починить левый отступ
        1) заигнорить его у первого элемента и с этим жить
        2) вынети футер из page__container и задать ему макс-ширинуну больне чем о page__container на величину падинга *2
        3) отрицательный margin

        самый правильный 2й, потому что 1й портить юзабилити, а в 3м ориц маржины считаются воообще супер крайностью +++ ПОЧИНИЛА
        */
  }
}
