.outro {
  background-image: url(../../images/dog.svg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: #ffffff;
}

.outro__link {
  z-index: 3;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.outro__opacity {
  position: absolute;
  background-color: #2a2c2f;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.outro:hover .outro__opacity {
  opacity: 0.8;
}

.outro__title {
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  font-weight: 900;
  margin: 0;
  margin-bottom: 32px;
  z-index: 2;
  max-width: 250px;
  padding: 0;
  box-sizing: border-box;
}

.outro__description {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  padding: 0px;
  z-index: 2;
  max-width: 250px;
}

@media screen and (min-width: 360px) {
  .outro__link {
    min-height: 300px;
  }
}

@media screen and (min-width: 480px) {
  .outro__link {
    min-height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .outro__link {
    min-height: 480px;
  }
  .outro__title {
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
  }
  .outro__description {
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
  }
}

@media screen and (min-width: 1024px) {
  .outro {
    min-height: 640px;
  }
  .outro__link {
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .outro {
    min-height: 740px;
    max-width: 1184px;
  }

  .outro__link {
    min-height: 740px;
  }
}
